.cart-container{
    // background: blueviolet;
    h2{
        margin-left: 50px;
    }
    .basket-header{
        position: relative;
        box-sizing: border-box;
        background-color: #00263E;
        margin-top: 15px;
        margin-left: 50px;
        height: 180px;
        color: white;
        padding: 50px 100px;

        h1{
            margin: 0;
        }
        h2{
            margin:0;
        }
        .background{
            position: absolute;
            right: 0;
            top: 0;
            height: 100%;
            width: 450px;
            background-image: url('../assets/topo.png'), url('../assets/topo.png');
            // background-repeat: no-repeat; 
        }
    }
    .lower-section{
        // background: red;
        width: 100%;
        display:flex;
        margin-top: 50px;
        .item-quantity-subtotal{
            margin-bottom: 50px;
            // background: yellow;
            width: 70%;
            .columns{
                border-bottom: 4px solid #00263E;   
                margin: 20px;
                margin-left: 50px;         
                .column{
                    // background: green;
                    display: inline-block;
                    margin: 10px;
                    color: #00263E;   
                    font-weight: 700; 
                    font-size: 18px;
                    letter-spacing: .25px;        
                }
                #subtotal{
                    float: right;
                }
                #qty{
                    float: right;
                    margin-right: 20px;
                }
            }
        }
        .order_summary{
            position: relative;
            bottom: 150px;
            background: white;
            width: 25vw;
            height: 55vh;
            color: #00263E;
            text-align: center;
            align-items: center;
            border: 1px #d0d3d4 solid;
            margin: 40px 20px 10px 10px;
            
            h1{
                margin-top: 40px;
                font-size: 43px;
            }
            label{
                margin-right: 150px;
                font-family: $font-family;
                font-weight: bold;
            }
            p{
                font-size: 18px;
                display: inline-block;
                font-weight: bolder;                
            }
            button{
                box-sizing: border-box;
                display: block;
                width: 300px;
                margin: 20px auto;
                height: 56px;
            }

                
                .continue-btn{
                    background: white;
                    border: 3px solid #00263E;
                    color: #00263E;
                    font-size: 18px;
                    cursor: pointer;
                    font-weight: 700;
                }
                .continue-btn:hover{
                    transition: .33s;
                    color: white;
                    background-color: #00263E;
                }
            }
    }
}
