.home-container{
    width: 100vw;


.featured-photo {
    width: 100vw;
    height: 100vh;
    background-image: url('./../assets/featured-ambassador-nico-sol.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}

.featured-text-container {
    position: absolute;
    width: 50vw;
    margin-left: 100px;

    .mile-text {
        font-size: 4em;
        text-align: center;
        font-family: $font-family;
        color: $font-color;
        letter-spacing: 2px;
    }
    
    .button-container {
        display: flex;
        justify-content: space-around;

        .adventureBtn {
            width: 200px;
            height: 60px;
            font-size: 1.4em;
            color: $font-color;
            background-color: $yellow;
            border: none;

        }
        .adventureBtn:hover {
            background-color: rgb(212, 168, 20);
        }
    
        .shopCollectionBtn {
            width: 200px;
            height: 60px;
            font-size: 1.4em;
            color: white;
            background-color: $font-color;
            border: none;
        }

        .shopCollectionBtn:hover {
            background-color: rgb(16, 7, 66);
        }
    }
}
}