// Import Fonts
@import url('https://fonts.googleapis.com/css?family=Roboto');

// Variables
$font-family: 'Roboto', sans-serif;
$font-color: rgb(20, 8, 88);
$yellow: rgb(233, 177, 23);


// import component SASS files
@import './../styles/Header';
@import './../styles/Footer';
@import './../styles/Home';

