// Import Fonts
@import url('https://fonts.googleapis.com/css?family=Roboto');

// Variables
$font-family: 'Roboto', sans-serif;
$font-color: #00263e;
$yellow: rgb(233, 177, 23);

@mixin center{
    display: flex;
    justify-content: center;
    align-content: center;
}

@mixin center2{
    display: flex;
    justify-content: center;
    align-items: center;
}


// import component SASS files
@import './../styles/Header';
@import './../styles/Footer';
@import './../styles/Home';
@import './../styles/Harnesses';





// Global apply to get rid of all annoying blue underlines for hyperlinks
a {
    text-decoration: none;
}
